<script setup lang="ts">
import { ref } from "vue";
const num = ref(1);
const result = ref(0);
const result2 = ref(0);
function calNum() {
  result.value = num.value * 1;
  result2.value = num.value * 2;
  num.value = num.value + 1;
}
function calNum2() {
  if (result.value != 0) {
    result.value = result.value - 1;
    result2.value = result2.value - 2;
    num.value = num.value - 1;
  }
}
</script>
<template>
  <v-row>
    <v-col>
      <tr>
        FirstComponent
      </tr>
      <tr>
        {{
          result
        }}
      </tr>
      <tr>
        <v-btn @click="calNum">INCREMENT</v-btn>
      </tr>
    </v-col>
    <v-col
      ><tr>
        SecondComponent
      </tr>
      <tr>
        {{
          result2
        }}
      </tr>
      <tr>
        <v-btn @click="calNum2">DECREASE</v-btn>
      </tr>
    </v-col>
  </v-row>
</template>
