<script lang="ts" setup>
import { ref } from "vue";
const Image = ref("smile.png");
const Emote = ref("Smile");
const BtnColor = ref("Yellow");
function callSmile() {
  Emote.value = "Smile";
  Image.value = "smile.png";
}
function callCute() {
  Emote.value = "Cute";
  Image.value = "cute.png";
}
function callAngry() {
  Emote.value = "Angry";
  Image.value = "angry.png";
}
function callShock() {
  Emote.value = "Shock";
  Image.value = "shocked.png";
}
function callExcited() {
  Emote.value = "Excited";
  Image.value = "excited.png";
}
function callPain() {
  Emote.value = "Pain";
  Image.value = "pain.png";
}
</script>
<template>
  <v-container>
    <v-row class="ma-16">
      <v-col cols="6">
        <v-img :src="Image"></v-img>
      </v-col>
      <v-col cols="6">
        <div class="center">
          <h1>{{ Emote }}</h1>
        </div>
        <v-btn
          img="angry.png"
          block
          @click="callAngry"
          height="60px"
          class="ma-4"
          ><h2>ANGRY</h2></v-btn
        >
        <v-btn block @click="callCute" height="60px" class="ma-4"
          ><h2>CUTE</h2></v-btn
        >
        <v-btn block @click="callExcited" height="60px" class="ma-4"
          ><h2>Excited</h2></v-btn
        >
        <v-btn block @click="callPain" height="60px" class="ma-4"
          ><h2>Pain</h2></v-btn
        >
        <v-btn block @click="callShock" height="60px" class="ma-4"
          ><h2>Shocked</h2></v-btn
        >
        <v-btn block @click="callSmile" height="60px" class="ma-4"
          ><h2>SMILE</h2></v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.center {
  margin: 20px;
  text-align: center;
}

button:focus {
  background: yellow;
}
</style>
