<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
interface List {
  id: number;
  name: string;
  price: number;
}
const ListProduct = ref<List[]>([]);
const sum = ref(0);
const add = (product: any) => {
  ListProduct.value.push(product);
  sum.value = sum.value + product.price;
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="5">
        <v-container style="overflow-y: auto; height: 80vh">
          <v-row>
            <v-col v-for="item of products" :key="item.id" cols="4">
              <v-card max-width="200px">
                <v-card-title>
                  <div class="font-weight-medium text-center">
                    {{ item.name }}
                  </div>
                </v-card-title>
                <v-card-text>
                  <div class="font-weight-medium text-center">
                    {{ item.price }}
                  </div>
                  <div class="text-center ma-1">
                    <v-btn @click="add(item)">ADD</v-btn>
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-container style="overflow-y: auto; height: 70vh">
          <v-row>
            <v-col>
              <v-table>
                <thead>
                  <tr>
                    <th class="text-left">id</th>
                    <th class="text-left">name</th>
                    <th class="text-left">price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in ListProduct" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                  </tr>
                </tbody>
              </v-table>
              <h4 style="text-align: center" v-if="ListProduct.length === 0">
                NO Data
              </h4>
            </v-col>
          </v-row>
        </v-container>
        <v-col>
          <h1>Sum : {{ sum }}</h1>
        </v-col>
      </v-col>
    </v-row>
  </v-container>
</template>
